// Flex

.splite {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 992px) {
	.splite {
		gap: 1rem;
		flex-direction: row;
	}
}

// container

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

// buttons

.btn {
	padding: 0.75rem;
	background-color: $primary-color;
	color: $light-color;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	display: inline-block;
	transition: opacity 0.3s ease;

	&.facebook {
		background-color: #3b5998;
	}

	&.twitter {
		background-color: #03a9f4;
	}

	&.youtube {
		background-color: #f61c0d;
	}

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

// tables

table.table {
	border-collapse: collapse;
	width: 100%;
	th,
	td {
		border: 1px solid $primary-color;
		padding: 0.5em;
	}
}

// Misc
.w-100 {
	width: 100%;
}

.mb {
	margin-bottom: 1rem;
}

// Tags
.tag {
	padding: 0.5rem;
	background-color: $primary-color;
	color: $light-color;
	border-radius: 5px;
	font-size: 0.7rem;
}
